pymysql
opencv-python-headless
keras-applications==1.0.8
numpy==1.19.2
requests==2.28.2
Flask==2.1.3
jsonify
requests
keras==2.1.0
schedule==1.2.0
tensorflow==2.5.3
typing-extensions==4.0.1
click>=8.1.3
